.wrapper {
  position: fixed;
  z-index: 10;
  padding: 0.4rem;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 0 2rem 0 1rem;
  width: 100%;
  height: 4.2rem;
  border: 0.1rem solid var(--border-darker);
  border-radius: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: border-color 0.3s ease-in-out;
  box-sizing: border-box;

  div,
  span,
  strong {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  > * {
    display: flex;
    align-items: center;
  }

  .map-type-label {
    width: 2.4rem;
    font-weight: bold;
    text-align: center;
    color: var(--ant-primary-color);
    cursor: pointer;
  }

  .civil-label {
    margin: 0 0.4rem;
    font-weight: bold;
    color: var(--ant-primary-color);
    cursor: pointer;
  }
}

.operation {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.6rem;
  flex-direction: column;
}

.counter {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 0.8rem;
  line-height: 1.6rem;

  strong + span {
    margin-left: 0.4rem;
  }
}

.helper {
  width: 2.4rem;
  height: 2.4rem;
  font-size: 1.8rem;
  font-weight: bold;
  border: 0.2rem #0fbcf9 solid;
  border-radius: 50%;
  text-align: center;
  color: #0fbcf9;
  cursor: pointer;
  flex-shrink: 0;
}

.helper-splitter {
  margin: 4px 0;
  width: 100%;
  border-top: 2px solid var(--border-base);
}

.version {
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: right;
}
