.ant-tooltip-inner,
.ant-tooltip-arrow-content {
  font-size: 1.4rem;
  color: var(--text-regular);
  background: var(--background-lighter);
}

.ant-tooltip-arrow-content {
  width: 0.5rem;
  height: 0.5rem;
}

.ant-dropdown-menu,
.ant-dropdown-menu-item {
  font-size: 1.4rem;
  color: var(--text-regular);
  background: var(--background-lighter);
}

.ant-dropdown-menu-item:hover {
  background: var(--background-darker);
}

.ant-dropdown-arrow {
  border-color:
    var(--background-lighter) transparent transparent
    var(--background-lighter) !important;
}

.left-menu .ant-menu {
  margin: 0.4rem 0.1rem 1rem 0.4rem;
  width: 4.8rem;
  border: 0.1rem solid var(--border-darker);
  border-radius: 2.3rem;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.left-menu .ant-menu-submenu-title,
.left-menu .ant-menu-item {
  display: flex;
  align-items: center;
  margin: 0 !important;
  padding: 0 calc(50% - 1.6rem) !important;
  height: 4.6rem !important;
  border-radius: 2.3rem;
}

img + .ant-menu-title-content {
  display: none;
}

.ant-menu-item-selected {
  background: transparent !important;
}

.ant-menu-item-group-title {
  font-size: 1.4rem;
  color: var(--text-regular);
}

.ant-menu-title-content {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--text-primary);
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover,
.ant-menu-item-selected:hover {
  background: var(--background-darker) !important;
}

.ant-menu-submenu-popup > .ant-menu,
.ant-menu-item-group {
  background: var(--background-lighter);
}

.ant-tabs-nav {
  position: fixed !important;
  padding-top: 0.2rem;
  width: 100%;
  background: var(--background-lighter);
}

.ant-tabs-nav-wrap {
  left: 7rem;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-color: var(--border-base);
}

.ant-tabs-tab {
  color: var(--text-regular);
}

.ant-tabs-content-holder {
  padding-top: 6.4rem;
  box-sizing: border-box;
  color: var(--text-regular);
}

.ant-modal-content {
  border-radius: 0.8rem;
  background: var(--background-lighter);
}

.ant-modal-confirm-title {
  color: var(--text-primary) !important;
}

.ant-modal-confirm-content {
  color: var(--text-regular) !important;
}
