.ant-tooltip-inner,
.ant-tooltip-arrow-content {
  font-size: 1.4rem;
  color: var(--text-regular);
  background: var(--background-lighter);
}

.ant-tooltip-inner {
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
}

.dark .ant-tooltip-inner {
  box-shadow: 0 3px 6px -4px rgb(255 255 255 / 12%), 0 6px 16px 0 rgb(255 255 255 / 8%), 0 9px 28px 8px rgb(255 255 255 / 5%);
}

.ant-tooltip-arrow-content {
  width: 0.5rem;
  height: 0.5rem;
  box-shadow: -3px -3px 7px rgb(0 0 0 / 7%) !important;
}

.dark .ant-tooltip-arrow-content {
  box-shadow: -3px -3px 7px rgb(255 255 255 / 7%) !important;
}

.ant-dropdown-menu,
.ant-dropdown-menu-item {
  font-size: 1.4rem;
  color: var(--text-regular);
  background: var(--background-lighter);
}

.ant-dropdown-menu-item:hover {
  background: var(--background-darker);
}

.ant-dropdown-arrow {
  border-color:
    var(--background-lighter) transparent transparent
    var(--background-lighter) !important;
}

.left-menu .ant-menu {
  margin: 0.4rem 0.1rem 1rem 0.4rem;
  width: 4.8rem;
  border: 0.1rem solid var(--border-darker);
  border-radius: 2.3rem;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.left-menu .ant-menu-submenu-title,
.left-menu .ant-menu-item {
  display: flex;
  align-items: center;
  margin: 0 !important;
  padding: 0 calc(50% - 1.6rem) !important;
  height: 4.6rem !important;
  border-radius: 2.3rem;
}

img + .ant-menu-title-content {
  display: none;
}

.ant-menu-item-selected {
  background: transparent !important;
}

.ant-menu-item-group-title {
  font-size: 1.4rem;
  color: var(--text-regular);
}

.ant-menu-title-content {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--text-primary);
}

.ant-menu-item:hover,
.ant-menu-submenu-title:hover,
.ant-menu-item-selected:hover {
  background: var(--background-darker) !important;
}

.ant-menu-submenu-popup > .ant-menu,
.ant-menu-item-group {
  background: var(--background-lighter);
}

.ant-tabs-nav {
  position: fixed !important;
  z-index: 1000;
  margin: 0 !important;
  padding-top: 0.2rem;
  width: 100%;
  background: var(--background-lighter);
}

.ant-tabs-nav-wrap {
  left: 7rem;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border-color: var(--border-base);
}

.ant-tabs-tab {
  color: var(--text-regular);
}

.ant-tabs-content-holder {
  padding-top: 4.8rem;
  box-sizing: border-box;
  color: var(--text-regular);
}

.ant-modal-content {
  border-radius: 0.8rem;
  background: var(--background-lighter);
}

.ant-modal-confirm-title {
  color: var(--text-primary) !important;
}

.ant-modal-confirm-content {
  color: var(--text-regular) !important;
}

.ant-upload-drag-container {
  padding: 2rem 5rem;
  width: max-content;
}

.ant-upload.ant-upload-drag {
  border: none;
  background: var(--background-base);
  box-shadow: var(--border-base) 0 0 0.4rem;
}

.ant-upload-text {
  color: var(--text-regular) !important;
}

.ant-upload-hint {
  color: var(--text-secondary) !important;
}
