@font-face {
  font-family: 'DFPKingGothicGB-Regular';
  src: url(./fonts/HuaKangJinGangHei-Regular-2.ttf);
}

@font-face {
  font-family: 'icon-font';
  src:
    url(./fonts/iconfont.woff2?t=1631815426289) format('woff2'),
    url(./fonts/iconfont.woff?t=1631815426289) format('woff'),
    url(./fonts/iconfont.ttf?t=1631815426289) format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.4rem;
  line-height: 2rem;
  font-family:
    'PingFang SC',
    'DFPKingGothicGB-Regular',
    'Microsoft Yahei',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  color: var(--text-regular);
  background: var(--background-base);
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

body,
#root {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

img {
  display: block;
}

strong {
  color: var(--text-primary);
  transition: color 0.3s ease-in-out;
}

html {
  font-size: 10px;
}

.ps__rail-x,
.ps__rail-y {
  z-index: 100;
}

.ps__thumb-x,
.ps__thumb-y {
  cursor: pointer;
}
