@font-face {
  font-family: 'DFPKingGothicGB-Regular';
  src: url('./fonts/HuaKangJinGangHei-Regular-2.ttf');
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: 'PingFang SC', 'DFPKingGothicGB-Regular', 'Microsoft Yahei',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  color: var(--text-regular);
  background: var(--background-base);
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

body,
#root {
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
}

strong {
  color: var(--text-primary);
  transition: color 0.3s ease-in-out;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 2000px) {
  html {
    font-size: 12px;
  }
}
