.container {
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2.5rem;
  width: 100%;
}

.title {
  font-size: 4rem;
  line-height: initial;
  color: var(--text-primary);
}

.map-type-label {
  width: 2.4rem;
  font-weight: bold;
  text-align: center;
  color: var(--ant-primary-color);
  cursor: pointer;
}

.count {
  margin-left: 1rem;
  font-size: 2rem;
  color: var(--text-regular);
}

.filter {
  display: flex;
  gap: 1.6rem;

  & > div {
    text-align: center;
  }
}

.filter-title {
  font-size: 1.2rem;
}

.content {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 4rem;
}

@media screen and(max-width: 490px) {

  .title {
    font-size: 3rem;
  }

  .count {
    font-size: 1.5rem;
  }

  .filter {
    gap: 0.6rem;
    transform: scale(0.85);
    transform-origin: bottom right;
  }

  .content {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 2rem;
  }
}
